body {
  margin: 0;
  font-family: "Public Sans", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Public Sans", serif;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-hover:hover {
  background-color: #0d6efd;
  color: #fff;
}
